body {
    margin: 0;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dee2eb;
}

.pokedex {
    box-sizing: border-box;
    height: 90vh;
    aspect-ratio: 1 / 2.16;
    border-radius: 32px;
    background-color: white;
}

.pokedexOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.pokedexOptions img {
    height: 24px;
}


.pokedexTop {
    box-sizing: border-box;
    height: 50%;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 56px;
    background-color: #fb6c6c;
    background-image: url(./img/pokedex-bg.png);
    background-size: 100%;
    color: white;
    font-size: 20px;
}

.pokedexTop h1 {
    margin: 0;
}

.pokedexTop h6 {
    margin: 0;
    text-align: end;
}

#pokemonTypes {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.pokemonType {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 11px;
    width: max-content;
    text-align: center;
    padding: 4px 20px;
    border-radius: 16px;
}

.pokedexBottom {
    box-sizing: border-box;
    height: 50%;
    margin-top: -8%;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
}

.pokedexBottom img{
    margin-top: -60%;
    height: 60%;
    filter: brightness(80%) contrast(140%) saturate(160%);
}

