body {
    margin: 0;
    font-family: 'Montserrat';
    color: #2c3641;
}

header {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 0px 64px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 1;
}

header img {
    height: 48px;
}

.content {
    margin-top: 80px;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

#pokemonsOverview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px
}
  
.pokemonOverview {
    box-sizing: border-box;
    width: 240px;
    padding: 16px 24px;
    border-radius: 16px;
    color: white;
    background: url(./img/overview-bg.png) no-repeat;
    background-size: 100%;
    overflow: hidden;
    transition: scale 150ms ease-in-out;
}

.pokemonOverview:hover {
    cursor: pointer;
    scale: 0.99;
    filter: brightness(110%);
}

.pokemonIDOverview {
    text-align: end;
    filter: opacity(30%);
}

.pokemonOverview h5 {
    margin:0
}

.pokemonOverview h4 {
    margin:0
}

.pokemonOverviewBottom {
    display: flex;
    justify-content: space-between;
}

.pokemonOverviewBottom div{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pokemonTypeOverview {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 10px;
    text-align: center;
    padding: 2px 4px;
    border-radius: 8px;
}

.pokemonOverview img {
    height: 100%;
    object-fit: contain;
}

#loadMore {
    border: 1px solid lightgray;
    background-color: white;
    font-weight: 600;
    color: #2c3641;
    margin: 32px;
    padding: 8px 16px;
    border-radius: 16px;
    transition: scale 150ms ease-in-out;
}

#loadMore:hover {
    scale: 0.99;
    cursor: pointer;
    filter: brightness(90%);
}

#dialogBG {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}


.dialog {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.pokedex {
    box-sizing: border-box;
    aspect-ratio: auto 1 / 2.156;
    max-width: 90vw;
    max-height: 94vh;
    border-radius: 32px;
    background-color: white;
}

.pokedexOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.pokedexOptions img {
    height: 26px;
    padding: 8px;
    margin: -8px;
}

.pokedexOptions img:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.pokedexTop {
    box-sizing: border-box;
    height: 50%;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 56px;
    background-image: url(./img/pokedex-bg.png);
    background-size: 100%;
    color: white;
    font-size: 24px;
}

.pokedexTop h1 {
    margin: 0;
}

.pokedexTop h6 {
    margin: 0;
    text-align: end;
}

#pokemonTypes {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.pokemonType {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    width: max-content;
    text-align: center;
    padding: 4px 20px;
    border-radius: 16px;
}

.pokedexBottom {
    box-sizing: border-box;
    height: 50%;
    margin-top: -8%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
}

.pokedexCenter {
    margin-top: -60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pokedexArrowLeft {
    height: 32px;
    padding: 4px;
}

#pokedexArrowLeft:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

#pokedexArrowRight {
    height: 32px;
    padding: 4px;
}

#pokedexArrowRight:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

#pokemonImage {
    height: 100%;
}

.pokemonStatsNavBar {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    color: lightgray;
    font-size: 15px;
    font-weight: 600;
}

.pokemonStatsNavBar span:hover {
    cursor: pointer;
    filter: brightness(60%);
}

.pokemonStatsNavBarHighlight{
    text-decoration: underline 2px solid #6d7adb;
    text-underline-offset: 20px;
    color: #2c3641;
    font-weight: 700;
}

#pokemonStats {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    scrollbar-width: thin;          
    scrollbar-color: lightgray white;  
    color: #2c3641; 
    font-size: 14px;
    font-weight: 600;
    filter: opacity(80%);
}

#pokemonStats::-webkit-scrollbar {
    width: 12px;               
  }
  
#pokemonStats::-webkit-scrollbar-track {
    background: white;        
}
  
#pokemonStats::-webkit-scrollbar-thumb {
    background-color: lightgray;    
    border-radius: 20px;       
    border: 3px solid white;  
}

#pokemonStats td {
    padding-top: 6px;
    padding-bottom: 6px;
}

#pokemonStats td:nth-child(odd) {
    font-weight: 500;
    filter: opacity(60%);
}

#pokemonStats td:nth-child(even) {
    padding-left: 24px;
}

#pokemonStats th {
    text-align: start;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 10px;
    font-weight: 700;
}

#pokemonFlavorText {
    margin: 0;
}

#pokemonAboutPokedexColor {
    display: flex;
    align-items: center;
    gap: 4px;
}

#pokedexColor {
    width: 12px;
    height: 12px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

#pokemonShape {
    display: flex;
    align-items: center;
    gap: 16px;
}

#pokemonShapeImage {
    display: flex;
    justify-content: center;
}

#pokemonShiny img {
    height: 80px;
    width: 80px;
}

#pokemonGender {
    display: flex;
    align-items: center;
    gap: 20px;
}

#pokemonGender div {
    display: flex;
    align-items: center;
    gap: 4px;
}

#pokemonGender img {
    height: 11px;
    width: 11px;
    margin: 0;
}

.searchBox {
    height: 40px;
    background-color: #f1f3f4;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.searchBox button {
    height: 40px;
    width: 40px;
    border: none;
    background: url(./img/search_icon.png) no-repeat;
    background-size: 20px;
    background-position: center;
    filter: opacity(50%);
}

.searchBox button:hover {
    cursor: pointer;
    filter: brightness(50%);
}

#searchQuery {
    height: 40px;
    width: 168px;
    border: none;
    outline: none;
    padding: 0px 16px;
    background: transparent;
}

footer {
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 64px;
    border-top: 1px solid lightgray;
    background-color: white;
    z-index: 1;
    font-size: 14px;
}

@media(max-width: 575px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        height: 136px;
    }

    .content {
        margin-top: 136px;
        padding: 16px 64px;
    }
}

@media(max-width: 400px) {
    .content {
        padding: 16px 24px;
    }

    .pokemonStatsNavBar {
        font-size: 13px;
    }

    #pokemonStats {
        font-size: 13px;
    }

    #pokemonStats th {
        font-size: 13px;
    }

    h1 {
        font-size: 24px;
    }

    .pokedexTop {
        padding-top: 40px;
    }
}